In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [10]:
city_file = "Resources/city_data.csv"
city_df = pd.read_csv(city_file, low_memory=False)
pd.set_option('display.max_columns', 50)
city_df.head()

,development_id,project_id,project_type,project_status,project_processing_code,date_project_create,date_project_complete,project_sap_internal_order,project_title,project_scope,job_id,job_drawing_number,address_job,job_apn,job_bc_code,job_bc_code_description,lat_job,lng_job,approval_id,approval_category_code,approval_type,approval_status,approval_scope,date_approval_create,date_approval_issue,date_approval_expire,date_approval_close,approval_valuation,approval_du_net_change,approval_stories,approval_floor_area,approval_du_extremely_low,approval_du_very_low,approval_du_low,approval_du_moderate,approval_du_above_moderate,approval_du_future_demo,approval_du_bonus,approval_permit_holder,bid_name,council_district,zip
0,32179,36462,Ministerial,Inspecting,Standard,2004-04-21,2004-04-21,NaN,Cedillo's pool & spa,Proposed pool & spa per MP#77 to an existing S...,68293,NaN,11719 ANGELIQUE ST,3.196011e+09,3291.0,Acc Struct to 1 or 2 Family,32.931711,-117.072241,100000,B,Combination Building Permit,Completed,Proposed pool & spa per MP#77 to an existing S...,2004-04-21,2004-04-28,2005-04-23,2004-09-01,15240.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Julio&Monica Cedilllo,NaN,5.0,92131.0
1,184831,284926,Ministerial,Inspecting,Standard,2012-06-11,2012-06-11,NaN,PVS 6766 Decanture Street,NAVAJO - Electrical Permit for a roof mounted ...,572022,NaN,6766 DECANTURE ST,4.561941e+09,4341.0,"Add/Alt 1 or 2 Fam, No Chg DU",32.803800,-117.053280,1000008,B,Electrical-Photovoltaic,Completed,Roof mounted photo-voltaic system on an existi...,2012-06-11,2012-06-11,2013-06-06,2012-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,"Solar City , Alexandra Sink",NaN,7.0,92120.0
2,22002,284924,Ministerial,Closed,Standard,2012-06-11,2012-06-11,NaN,SDG&E T.I. Bldg B,"MIRA MESA, Building, Electrical permit to remo...",572016,NaN,6875 CONSOLIDATED WY Unit B,3.430506e+09,4380.0,Add/Alt Tenant Improvements,32.876296,-117.166363,1000015,B,Building Permit,Cancelled,remodel an existing electrical revenue meter t...,2012-06-11,2012-06-18,2013-06-13,2013-07-25,18808.5,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,"Baker Electric Solar, Jim Parcker",NaN,6.0,92121.0
3,22002,284924,Ministerial,Closed,Standard,2012-06-11,2012-06-11,NaN,SDG&E T.I. Bldg B,"MIRA MESA, Building, Electrical permit to remo...",572016,NaN,6875 CONSOLIDATED WY Unit B,3.430506e+09,4380.0,Add/Alt Tenant Improvements,32.876296,-117.166363,1000016,B,Electrical Permit,Completed,reconfigure the electrical distribution syste...,2012-06-11,2012-06-18,2013-06-13,2013-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,"Baker Electric Solar, Jim Parcker",NaN,6.0,92121.0
4,184502,284925,Ministerial,Inspecting,Standard,2012-06-11,2012-06-11,NaN,8039 Run of the Knolls,Combination Building Permit for repair-in-kind...,572020,NaN,8039 RUN OF THE KNOLLS [Pending],2.692112e+09,4341.0,"Add/Alt 1 or 2 Fam, No Chg DU",32.997687,-117.152152,1000019,B,Combination Building Permit,Completed,"Repair-in-kind for framing, dry wall and demo ...",2012-06-11,2012-06-11,2013-06-06,2012-07-26,6000.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,"Island Enterprises, Mark Pinto",NaN,5.0,92127.0

In [5]:
mammal_file = "Resources/mammal_data.csv"
mammal_df = pd.read_csv(mammal_file)
mammal_df.head()

,SNAME,CNAME,ACT_DATE,DEACT_DATE,TRACK_SIGN,TOT_HIST,TOT_FRESH,TOT_SIGHT,VEG_CAT,TRANSID,SECTION,TRANSNAME,SITE,LAT_MID,LONG_MID
0,Lepus californicus,Black Tailed Jackrabbit,7/15/1996,5/31/2013,Tracks,0.0,1.0,1.0,Riparian and Bottomland Habitat,1.0,1.0,Sabre Springs to Mercy Property,Los Penasquitos Canyon Preserve,32.944167,117.096067
1,Lynx rufus,Bobcat,7/15/1996,5/31/2013,Scat,16.0,11.0,27.0,Riparian and Bottomland Habitat,1.0,1.0,Sabre Springs to Mercy Property,Los Penasquitos Canyon Preserve,32.944167,117.096067
2,Lynx rufus,Bobcat,7/15/1996,5/31/2013,Tracks,0.0,10.0,10.0,Riparian and Bottomland Habitat,1.0,1.0,Sabre Springs to Mercy Property,Los Penasquitos Canyon Preserve,32.944167,117.096067
3,Puma concolor,Cougar,7/15/1996,5/31/2013,Scat,1.0,0.0,1.0,Riparian and Bottomland Habitat,1.0,1.0,Sabre Springs to Mercy Property,Los Penasquitos Canyon Preserve,32.944167,117.096067
4,Canis latrans,Coyote,7/15/1996,5/31/2013,Scat,82.0,37.0,119.0,Riparian and Bottomland Habitat,1.0,1.0,Sabre Springs to Mercy Property,Los Penasquitos Canyon Preserve,32.944167,117.096067

### Transform premise DataFrame

In [4]:
# Create a filtered dataframe from specific columns
city_cols = ["License Serial Number", "Premises Name", "County ID Code"]
city_transformed= premise_df[premise_cols].copy()

# Rename the column headers
city_transformed = city_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
city_transformed.drop_duplicates("id", inplace=True)
city_transformed.set_index("id", inplace=True)

city_transformed.head()

                         premise_name  county_id
id
1311660  CANA ARRIBA GROCERY NO 2 INC          0
1310023    JOHANA GROCERY & DELI CORP          0
1310024             TKO BEVERAGES LLC          1
1311663  181 LEXINGTON AVENUE BBQ LLC          2
1310029        AZIZ DELI & GRILL CORP          1

### Transform county DataFrame

In [5]:
mammal_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
mammal_cols = county_df[county_cols].copy()

# Rename the column headers
mammal_transformed = mammal_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
mammal_transformed.set_index("id", inplace=True)

mammal_transformed.head()

    county_name  county_id  license_count
id
0        ALBANY          5             77
1      ALLEGANY         59              4
2         BRONX          0            104
3        BROOME         35             14
4   CATTARAUGUS         41              9

### Create database connection

In [6]:
connection_string = "postgres:postgres@localhost:5432/project2_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

['county', 'premise']

### Load DataFrames into database

In [8]:
city_transformed.to_sql(name='city_data', con=engine, if_exists='append', index=True)

In [9]:
mammal_transformed.to_sql(name='mammal_data', con=engine, if_exists='append', index=True)